//Background Styles
.bg-Urban-1 {
    background-color: $Color-Theme-1-hex!important;
}

.bg-Urban-2 {
    background-color: $Color-Theme-2-hex!important;
}

.bg-Urban-3 {
    background-color: $Color-Theme-3-hex!important;
}

.bg-Urban-4 {
    background-color: $Color-Theme-4-hex!important;
}

.bg-Urban-5 {
    background-color: $Color-Theme-5-hex!important;
}