/* Color Theme Swatches in Hex */

$Color-Theme-1-hex: #111111;
$Color-Theme-2-hex: #303030;
$Color-Theme-3-hex: #E0E0E0;
$Color-Theme-4-hex: #EDEDED;
$Color-Theme-5-hex: #FFFFFF;

/* Color Theme Swatches in RGBA */

$Color-Theme-1-rgba: rgba(17, 17, 17, 1);
$Color-Theme-2-rgba: rgba(48, 48, 48, 1);
$Color-Theme-3-rgba: rgba(224, 224, 224, 1);
$Color-Theme-4-rgba: rgba(237, 237, 237, 1);
$Color-Theme-5-rgba: rgba(255, 255, 255, 1);

/* Color Theme Swatches in HSLA */

$Color-Theme-1-hsla: hsla(0, 0, 6, 1);
$Color-Theme-2-hsla: hsla(0, 0, 18, 1);
$Color-Theme-3-hsla: hsla(0, 0, 87, 1);
$Color-Theme-4-hsla: hsla(0, 0, 92, 1);
$Color-Theme-5-hsla: hsla(0, 0, 100, 1);