// TODO pasar a fuentes Font Styles
body {
    color: $Color-Theme-1-hex;
}

.text-white {
    color: $Color-Theme-5-hex;
}

.img-center {
    margin: auto auto;
}

.banner {
    min-height: 400px;
}

.header-banner {
    min-height: 500px;
}

.Index {
    background-image: url('../MEDIA/IMG/maksim-istomin-_s2Rd-2K-9c-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    // filter: blur(2px);
}

.center {
    margin-top: 10%;
}

.center-header-banner {
    line-height: 500px;
}

.none {
    display: none;
}

.none-slider {
    display: none;
}